.title-contents {
  width: 100vw;
  height: 350px;
  background-image: image-url('toppage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
* {
  box-sizing: border-box;
}

.service-title {
  font-size: 5vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}