<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    
  </p>
  <h2 class='ad-footer-title'>
  </h2>
  <div class='store-btn'>
  </div>
</div>

<div class='footer'>
  <div class='footer-contents'>
  ＠SHAREPUT＿2020 ------
  </div>
</div>